<div class="p-grid">
    <div class="p-col">
        <p-card  header="ProofWriter">
            <app-text-box [dictionary]="dictionary"></app-text-box>
        </p-card>
    </div>
    <div class="p-col">
        <p-card header="Configuration">
            <p-table [value]="operators">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Operator</th>
                        <th>Abbreviation</th>
                        <th>Symbol</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operator>
                    <tr>
                        <td>{{ operator.name | titlecase }}</td>
                        <td>{{ operator.abbreviation }}</td>
                        <td>
                            <p-dropdown [options]="operator.symbols" [(ngModel)]="dictionary[operator.abbreviation]" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-dropdown>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>

